<h1>Articles</h1>

Our blog has <%= Article.public_count %> articles and counting!

<ul>
  <!-- <% %> doesn't display anything, only good for conditional statement and loopy loops-->
  <% @articles.each do |article| %>
    <% unless article.archived? %>
      <!--Unless this particular article has been archived, show them all on the screen-->
      <li>
        <!--<%= %> good for rendering things to the DOM-->
        <%= link_to article.title, article %> <!--Render the link with the first argument and it's second argument specify the link's destination-->
      </li>
    <% end %>
  <% end %>
</ul>
<!--This just takes you to the page to create a new article. Part of the resourceful routing-->
<!--When you run [rails routes], on the left hand side, you will see a list of prefixes. new_article_path is in that list mapped to [localhost:3000/articles/new]-->
<%= link_to "New Article", new_article_path %>